{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
{% load embed_video_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'media/style.css' %}" />


{% if videos %}
    
        {% for video in videos %}
            <div align="center">
                {% video video.clip as boniche %}
                {% video boniche "medium" %}
                {% endvideo %}
            </div>
            <div align="center">
                {{ video.caption }}
            </div>
        {% endfor %}

{% else %}
    <p>No media at this time. Please check back soon!</p>

{% endif %}

{% endblock content %}



