{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

{% if gigs %}
    <table>
        <tr>
            <th>When</th>
            <th>Where</th>
            <th>Facebook</th>
        </tr>
        {% for gig in gigs %}
            <tr>
                <td>{{ gig.date_time }}</td>
                <td><a href="{{ gig.location_link }}" target="_blank">{{gig.location_name }}</a></td>
                <td><a href="{{gig.fb_event}}" target="_blank"><img src="{% static "gigs/images/facebook.jpg" %}" alt="facebook logo" width="16px"/></a></td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No gigs at this time. Please check back soon!</p>

{% endif %}

{% endblock content %}



