{% extends "base.html" %}

{% block content %}
{% load staticfiles %}


<div class="container-fluid">
    {% if gigs %}
        {% for gig in gigs %}
        <article class="list-style">
            <h3 class="glyphicon glyphicon-time">   {{ gig.date_time }}   </h3></br>
            <h3 class="glyphicon glyphicon-map-marker"><a href="{{ gig.location_link }}" target="_blank">   {{gig.location_name }}   </a></h3>
        {% endfor %}

    {% else %}
        <p>No gigs at this time. Please check back soon!</p>
    {% endif %}
</div>
{% endblock content %}



